<div id="measPanel" >

        <div class="measButtons">
            <button id="measButGrid" class="buttonMin" data-hint="Click to show grid view."> <i class="fa fa-th"></i> Grid</button>
            <button id="measButList" class="buttonMin" data-hint="Click to show list view."> <i class="fa fa-list"></i> List</button>
        </div>
        
        <div class="measButtons">
            <button id="measButSimple" class="buttonMin" data-hint="Click to show simplified view."> <i class="fa fa-square-o"></i> Simplified</button>
            <button id="measButDetail" class="buttonMin" data-hint="Click to show detailed view."> <i class="fa fa-plus-square-o"></i> Detailed</button>
        </div>       
        
        <div class="measButtons">
            <button id="measButSelect" class="buttonMin" data-hint="Click to select all visible measurements."> <i class="fa fa-link"></i> Select all</button>
     
            <button id="measButDeselect" class="buttonMin" data-hint="Click to deselect all visible measurements."> <i class="fa fa-chain-broken"></i>Deselect all</button>
        </div>

        <!--<div class="col-md-1"></div-->

        <div id="measSearchMain">
            <i class="fa fa-search "></i> <input id="measSearch" type="text" placeholder="Search" data-hint="Type to filter the resources."/>
        </div>

</div>

<div id="measSelectComplex" class="template">
    <p>Click on a measurement to select it for the complex measurement.</p>
    <button id="measCancelComplex" class="buttonMin" data-hint="Click to cancel complex measurement selection."> <i class="fa fa-times "></i> Cancel</button>
</div>

<div id="measItems" class="measGridView">


</div>  