<div id="measPanel" >

        <div class="measButtons">
            <button id="measButGrid" class="buttonMin" data-hint="Click to show grid view."> <i class="fa fa-th"></i> Grid</button>
            <button id="measButList" class="buttonMin" data-hint="Click to show list view."> <i class="fa fa-list"></i> List</button>
        </div>
        
        <div class="measButtons">
            <button id="measButSimple" class="buttonMin" data-hint="Click to show simplified view."> <i class="fa fa-square-o"></i> Simplified</button>
            <button id="measButDetail" class="buttonMin" data-hint="Click to show detailed view."> <i class="fa fa-plus-square-o"></i> Detailed</button>
        </div>       
        
        <div class="measButtons">
            <button id="measButSelect" class="buttonMin" data-hint="Click to select all visible measurements."> <i class="fa fa-link"></i> Select all</button>
     
            <button id="measButDeselect" class="buttonMin" data-hint="Click to deselect all visible measurements."> <i class="fa fa-chain-broken"></i>Deselect all</button>
        </div>

        <!--<div class="col-md-1"></div-->

        <div id="measSearchMain">
            <i class="fa fa-search "></i> <input id="measSearch" type="text" placeholder="Search" data-hint="Type to filter the resources."/>
        </div>

</div>

<div id="measSelectComplex" class="template">
    <p>Click on a measurement to select it for the complex measurement.</p>
    <button id="measCancelComplex" class="buttonMin" data-hint="Click to cancel complex measurement selection."> <i class="fa fa-times "></i> Cancel</button>
</div>

<div id="measItems" class="measGridView">

<!-- MOCK MOCK MOCK MOCK MOCK MOCK MOCK MOCK
     Example data start - should be fetched with AJAX and then added dynamically
-->

    <!--

    <div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
        <div class="measHeader">
            <div class="measItemName">
                Resource 1
            </div>
        </div>

        <div class="measItemRessMain">
            <div class="measItemRess">
                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
                </div>
            </div>
        </div>
    </div>




    <div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
        <div class="measHeader">
            <div class="measItemName">
                Resource 2
            </div>
        </div>

        <div class="measItemRessMain">
            <div class="measItemRess">
                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
                </div>
            </div>
        </div>
    </div>




    <div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
        <div class="measHeader">
            <div class="measItemName">
                Resource 3
            </div>
        </div>

        <div class="measItemRessMain">
            <div class="measItemRess">
                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
                </div>
            </div>
        </div>
    </div>




    <div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
        <div class="measHeader">
            <div class="measItemName">
                Resource 4
            </div>
        </div>

        <div class="measItemRessMain">
            <div class="measItemRess">
                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
                </div>

                <div class="measItemRes measAdd">
                    <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                    <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
                </div>
            </div>
        </div>
    </div>




<div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
    <div class="measHeader">
        <div class="measItemName">
            Resource 5
        </div>
    </div>

    <div class="measItemRessMain">
        <div class="measItemRess">
            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
            </div>
        </div>
    </div>
</div>




<div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
    <div class="measHeader">
        <div class="measItemName">
            Resource 1
        </div>
    </div>

    <div class="measItemRessMain">
        <div class="measItemRess">
            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
            </div>
        </div>
    </div>
</div>




<div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
    <div class="measHeader">
        <div class="measItemName">
            Resource 6
        </div>
    </div>

    <div class="measItemRessMain">
        <div class="measItemRess">
            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
            </div>
        </div>
    </div>
</div>




<div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
    <div class="measHeader">
        <div class="measItemName">
            Resource 7
        </div>
    </div>

    <div class="measItemRessMain">
        <div class="measItemRess">
            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
            </div>
        </div>
    </div>
</div>




<div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
    <div class="measHeader">
        <div class="measItemName">
            Resource 8
        </div>
    </div>

    <div class="measItemRessMain">
        <div class="measItemRess">
            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
            </div>
        </div>
    </div>
</div>




<div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
    <div class="measHeader">
        <div class="measItemName">
            Resource 9
        </div>
    </div>

    <div class="measItemRessMain">
        <div class="measItemRess">
            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
            </div>
        </div>
    </div>
</div>




<div class="measItem measSimpleView" data-hint="Click to toggle between simplified and detailed view.">
    <div class="measHeader">
        <div class="measItemName">
            Resource 10
        </div>
    </div>

    <div class="measItemRessMain">
        <div class="measItemRess">
            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName">Temperature 1:</span> <span class="measResValue">23.5 &deg;C</span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-thermometer-full" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Temperature 2: </span> <span class="measResValue">46.1 &deg;C </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-microchip" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> CPU load: </span> <span class="measResValue">77.3 % </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-battery-three-quarters" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Voltage: </span> <span class="measResValue">12.2 V </span></div>
            </div>

            <div class="measItemRes measAdd">
                <i class="fa fa-bolt" data-hint="Select (deselect) this measurement to the graph view."></i>
                <div class="measResDet"> <span class="measResName"> Current: </span> <span class="measResValue">6.4 A </span></div>
            </div>
        </div>
    </div>
</div>



<!-- MOCK MOCK MOCK MOCK MOCK MOCK MOCK MOCK
     Example data end.
-->




</div>  